# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date_dt'] = pd.to_datetime(df['date'],format='%Y-%m-%d')
#df.dtypes

In [4]:
# Set the date column as the DataFrame index
df.set_index('date_dt', inplace=True)

In [5]:
# Drop the date column
df= df.drop(['date'],axis=1)
df.head()

                station  prcp  tobs
date_dt
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats

In [7]:
# Filter data for desired months
# NEED TO RESET INDEX AS I'M UNABLE TO PERFORM .LOC ON DATE_DT COLUMN
df = df.reset_index()
JunDec_df = df.loc[(df['date_dt'].dt.month == 6 ) | (df['date_dt'].dt.month == 12)]
JunDec_df.head()

       date_dt      station  prcp  tobs
133 2010-06-01  USC00519397  0.00    78
134 2010-06-02  USC00519397  0.01    76
135 2010-06-03  USC00519397  0.00    78
136 2010-06-04  USC00519397  0.00    76
137 2010-06-05  USC00519397  0.00    77

In [8]:
# Identify the average temperature for June
Jun = JunDec_df[JunDec_df['date_dt'].dt.month == 6]
JunAvg=Jun.tobs.mean()
JunAvg

74.94411764705882

In [9]:
# Identify the average temperature for December
Dec = JunDec_df[JunDec_df['date_dt'].dt.month == 12]
DecAvg = Dec.tobs.mean()
DecAvg

71.04152933421226

In [10]:
# Create collections of temperature data

In [11]:
# Run paired t-test
stats.ttest_ind(Jun.tobs, Dec.tobs, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

There is a meaningful difference between the temperature in June and December given that the p-value is >0.05.